
<div id="info-data" >
    <div *ngFor="let perfil of perfil">
        <div id="info-img">
            <img class="profile-image card-img-top" [src]="perfil.urlImage"  alt="perfil">
            <div  *ngIf="loading">
                <i id="btnEditar" class="fa fa-pencil-square-o btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#perfiFotolModal" ></i>
            </div>
            
        </div>
        <div *ngIf="loading" class="d-grid gap-2 d-md-flex justify-content-md-end" >
            <i id="btnEditar" class="fa fa-pencil-square-o btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#perfilModal" ></i>
        </div>
            <h1>{{perfil.nombre}} {{perfil.apellido}}</h1> <i class="bi-pencil-square"  style="font-size: 2rem"> </i>
        <div id="info-titulo">{{perfil.titulo}}</div> <br/>
        <div>
            <div class="card-titles">
                <h4>Acerca de:</h4> <br/>
            </div>
           <p id="text-acercade"> {{perfil.descripcion}}</p> 
        </div>

            <!-- Modal Foto Perfíl:-->
            <div class="modal fade" id="perfiFotolModal" tabindex="-1" aria-labelledby="perfilFotoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="perfilModalLabel">{{perfil.nombre}} </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="card">
                            <div class="row mb-3 d-flex justify-content-center">
                            <div class="form-floating">
                                <input type="text" name="texto" id="fotoPerfil" 
                                [(ngModel)]="perfil.urlImage" 
                                class="form-control " />
                                <label for="floatingInput">Foto de Perfíl</label>
                            </div >
                            </div>
                            <div class="d-grid gap-2 col-4 mx-auto">
                                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close" (click)="updatePerfil(perfil, perfil.id)">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>


            <!-- Modal Acerca de:-->
            <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="perfilModalLabel">{{perfil.nombre}} {{perfil.apellido}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="card mat-card experiencia">
                            <div class="row mb-3 d-flex justify-content-center">
                            <div class="form-floating">
                                <input type="text" name="texto" id="textoExperiencia" 
                                [(ngModel)]="perfil.nombre" 
                                class="form-control " />
                                <label for="floatingInput">Nombre</label>
                            </div >
                            </div>

                           <div class="row mb-3 d-flex justify-content-center" >
                            <div class="form-floating">
                                <input type="text" name="text" id="fechaExperiencia"
                                    [(ngModel)]="perfil.apellido" 
                                    class="form-control" />
                                    <label for="floatingInput">Apellido</label>
                            </div> 
                            </div>
                        
                            <div class="row mb-3 d-flex justify-content-center">
                            <div class="form-floating">
                                <input type="text" name="fecha" id="horaExperiencia"
                                    [(ngModel)]="perfil.descripcion" 
                                    class="form-control " />
                                    <label for="floatingInput"> Descripción</label>
                            </div>
                            </div>

                            <div class="d-grid gap-2 col-4 mx-auto">
                                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close" (click)="updatePerfil(perfil, perfil.id)">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>       
    </div>

</div>

